[submodule "hammerspoon"]
	path = hammerspoon
	url = git@github.com:pavlo-skobnikov/.hammerspoon.git
[submodule "karabiner"]
	path = karabiner
	url = git@github.com:pavlo-skobnikov/.karabiner.git
[submodule "kitty"]
	path = kitty
	url = git@github.com:pavlo-skobnikov/.kitty.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:pavlo-skobnikov/.tmux.git
[submodule ".secrets"]
	path = .secrets
	url = git@github.com:pavlo-skobnikov/.secrets.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:pavlo-skobnikov/.zsh.git
[submodule "idea"]
	path = idea
	url = git@github.com:pavlo-skobnikov/.idea.git
