" -> https://github.com/JetBrains/ideavim/wiki
""""" OPTIONS

" <SPC> as the leader key
let mapleader = " "

" Show Current Vim Mode
set showmode

" Use the Clipboard Register '*' for All Yank, Delete, Change and Put Operations
" (-> which would normally go to the unnamed register)
set clipboard+=unnamed

" Search as Characters are Entered
set incsearch

" Highlight Search Results
set hlsearch

" Case-sensitive Search Only on Present Upper Letters
set ignorecase
set smartcase

" Relative Numbers Only Club
set relativenumber

""""" PLUGINS & RELATED SETTINGS

"" PLUGIN
" Enable which-key extension
set which-key

" Disable which-key timeout, i.e. show the menu until you press a key
set notimeout

" Show the menu also for default Vim actions like `gg` or `zz`.
let g:WhichKey_ShowVimActions = "false"

"" PLUGIN
" Vim Movement in the Project View
" -> https://github.com/JetBrains/ideavim/wiki/NERDTree-support
set NERDTree

"" PLUGIN
" Emulate vim-surround. Commands: ys, cs, ds
" -> https://github.com/tpope/vim-surround/blob/master/doc/surround.txt
set surround

let g:WhichKeyDesc_SurroundAdd = "ys +add-surround"
let g:WhichKeyDesc_SurroundChange = "cs +change-surround"
let g:WhichKeyDesc_SurroundDelete = "ds +delete-surround"

"" PLUGIN
" Add text object for entire buffer: ae (around buffer), ie (inside buffer)
set textobj-entire

" Add text object for arguments: aA (around arguments), iA (inside arguments)
set argtextobj

""""" MAPPINGS
""" FIRST-LEVEL MAPPINGS
""" NORMAL

" Remove Highlights on <ESC>
nnoremap <ESC> :noh<CR>

" Easier Window Navigation
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" x and X Copy Into Throwaway Register `_`
nnoremap x \"_x
nnoremap X \"_X

" Get Minimal Parameter Info
nnoremap <C-S-k> :action ParameterInfo<CR>

""" VISUAL

""" INSERT

" Get Minimal Parameter Info
inoremap <C-S-k> :action ParameterInfo<CR>

""" g MAPPINGS

let g:WhichKeyDesc_GoTo_ShowIntentionActions = "ga Open Code Actions"
nnoremap ga :action ShowIntentionActions<CR>
vnoremap ga :action ShowIntentionActions<CR>

let g:WhichKeyDesc_GoTo_CommentByBlockComment = "gb Comment by Block Comment"
nnoremap gb :action CommentByBlockComment<CR>
vnoremap gb :action CommentByBlockComment<CR>

let g:WhichKeyDesc_GoTo_CommentByLineComment = "gc Comment by Line Comment"
nnoremap gc :action CommentByLineComment<CR>
vnoremap gc :action CommentByLineComment<CR>

let g:WhichKeyDesc_GoTo_JumpToClass = "gC Go to Class"
nnoremap gC :action GotoClass<CR>
vnoremap gC :action GotoClass<CR>

let g:WhichKeyDesc_GoTo_QuickImplementations = "gi Go to Implementation"
nnoremap gi :action QuickImplementations<CR>
vnoremap gi <Esc>:action QuickImplementations<CR>

let g:WhichKeyDesc_GoTo_CallHierarchy = "gI Go to Incoming Calls"
nnoremap gI :action CallHierarchy<CR>
vnoremap gI <Esc>:action CallHierarchy<CR>

let g:WhichKeyDesc_GoTo_GotoTypeDeclaration = "gt Go to Type Declaration for Symbol"
nnoremap gt :action GotoTypeDeclaration<CR>
vnoremap gt <Esc>:action GotoTypeDeclaration<CR>

let g:WhichKeyDesc_GoTo_GotoTest = "gT Go to Test/Implementation"
nnoremap gT :action GotoTest<CR>
vnoremap gT :action GotoTest<CR>

let g:WhichKeyDesc_GoTo_FindUsages = "gr Go to References"
nnoremap gr :action FindUsages<CR>
vnoremap gr :action FindUsages<CR>

let g:WhichKeyDesc_GoTo_RenameElement = "gR Rename Symbol"
nnoremap gR :action RenameElement<CR>
vnoremap gR :action RenameElement<CR>

let g:WhichKeyDesc_GoTo_FileStructurePopup = "gs Search Document Symbols"
nnoremap gs :action FileStructurePopup<CR>
vnoremap gs :action FileStructurePopup<CR>

let g:WhichKeyDesc_GoTo_GotoSymbol = "gS Search Project Symbols"
nnoremap gS :action GotoSymbol<CR>
vnoremap gS :action GotoSymbol<CR>

let g:WhichKeyDesc_GoTo_ShowErrorDescription = "gl Open Diagnostics Float"
nnoremap gl :action ShowErrorDescription<CR>
vnoremap gl :action ShowErrorDescription<CR>

let g:WhichKeyDesc_GoTo_Bookmarks = "gm Go to Mnemonic Bookmark"
nnoremap gm :action Bookmarks.Goto<CR>
vnoremap gm :action Bookmarks.Goto<CR>

let g:WhichKeyDesc_GoTo_ActivateProblemsViewToolWindow = "gQ Show Diagnostics Tool Window"
nnoremap gQ :action ActivateProblemsViewToolWindow<CR>
vnoremap gQ :action ActivateProblemsViewToolWindow<CR>

let g:WhichKeyDesc_GoTo_ListErrors = "gE List Errors"
nnoremap gE :action CodeInspection.OnEditor<CR>
vnoremap gE :action CodeInspection.OnEditor<CR>


""" [ and ] MAPPINGS

let g:WhichKeyDesc_LeftSquareBracket_GotoPreviousError = "[d Prev Diagnostic"
nnoremap [d :action GotoPreviousError<CR>
vnoremap [d :action <ESC>GotoPreviousError<CR>

let g:WhichKeyDesc_RightSquareBracket_GotoPreviousError = "]d Next Diagnostic"
nnoremap ]d :action GotoNextError<CR>
vnoremap ]d :action <ESC>GotoNextError<CR>

let g:WhichKeyDesc_LeftSquareBracket_VcsShowPrevChangeMarker = "[g Prev Hunk/Change"
nnoremap [g :action VcsShowPrevChangeMarker<CR>
vnoremap [g :action <ESC>VcsShowPrevChangeMarker<CR>

let g:WhichKeyDesc_RightSquareBracket_VcsShowNextChangeMarker = "]g Next Hunk/Change"
nnoremap ]g :action VcsShowNextChangeMarker<CR>
vnoremap ]g :action <ESC>VcsShowNextChangeMarker<CR>

let g:WhichKeyDesc_LeftSquareBracket_GotoPreviousBookmark = "[h Prev Bookmark"
nnoremap [h :action GotoPreviousBookmark<CR>
vnoremap [h :action <ESC>GotoPreviousBookmark<CR>

let g:WhichKeyDesc_RightSquareBracket_GotoNextBookmark = "]h Next Bookmark"
nnoremap ]h :action GotoNextBookmark<CR>
vnoremap ]h :action <ESC>GotoNextBookmark<CR>

let g:WhichKeyDesc_LeftSquareBracket_MethodUp = "[f Prev Function"
nnoremap [f :action MethodUp<CR>
vnoremap [f :action <ESC>MethodUp<CR>

let g:WhichKeyDesc_RightSquareBracket_MethodDown = "]f Next Function"
nnoremap ]f :action MethodDown<CR>
vnoremap ]f :action <ESC>MethodDown<CR>


""" <leader> MAPPINGS

let g:WhichKeyDesc_Leader_ReformatCode = "<leader>= Reformat Code"
nnoremap <leader>= :action ReformatCode<CR>
vnoremap <leader>= :action ReformatCode<CR>

let g:WhichKeyDesc_Leader_ToggleBookmark = "<leader>a Add to Marks"
nnoremap <leader>a :action ToggleBookmark<CR>
vnoremap <leader>a :action ToggleBookmark<CR>

let g:WhichKeyDesc_Leader_ToggleBookmarkWithMnemonic = "<leader>A Add to Mnemonic Marks"
nnoremap <leader>A :action ToggleBookmarkWithMnemonic<CR>
vnoremap <leader>A :action ToggleBookmarkWithMnemonic<CR>

let g:WhichKeyDesc_Leader_ShowBookmarks = "<leader>b Show Marks"
nnoremap <leader>b :action ShowBookmarks<CR>
vnoremap <leader>b :action ShowBookmarks<CR>

let g:WhichKeyDesc_Leader_ActivateProjectToolWindow = "<leader>e Open Explorer"
nnoremap <leader>e :action ActivateProjectToolWindow<CR>
vnoremap <leader>e :action ActivateProjectToolWindow<CR>

let g:WhichKeyDesc_Leader_SelectInProjectView = "<leader>E Open Explorer & Select Current File"
nnoremap <leader>E :action SelectInProjectView<CR>
vnoremap <leader>E :action SelectInProjectView<CR>

let g:WhichKeyDesc_Leader_Locations = "<leader>l Recent Location"
nnoremap <leader>l :action RecentLocations<CR>
vnoremap <leader>l :action RecentLocations<CR>

let g:WhichKeyDesc_Leader_RecentChanges = "<leader>L Recent Changed Locations"
nnoremap <leader>L   :action RecentChanges<CR>
vnoremap <leader>L   :action RecentChanges<CR>

let g:WhichKeyDesc_Leader_CopyFilePath = "<leader>y Yank File Path"
nnoremap <leader>y :action CopyAbsolutePath<CR>
vnoremap <leader>y :action CopyAbsolutePath<CR>


""" <leader>d MAPPINGS -> Debug
let g:WhichKeyDesc_Debug = "<leader>d +debug/run"

let g:WhichKeyDesc_Debug_Debug = "<leader>dd Debug"
nnoremap <leader>dd :action Debug<CR>
vnoremap <leader>dd <Esc>:action Debug<CR>

let g:WhichKeyDesc_Debug_DebugClass = "<leader>dD Debug Class"
nnoremap <leader>dD :action DebugClass<CR>
vnoremap <leader>dD <Esc>:action DebugClass<CR>

""" <leader>da MAPPINGS -> Debug Actions
let g:WhichKeyDesc_Debug_Actions = "<leader>da +actions"

let g:WhichKeyDesc_Debug_Actions_Continue = "<leader>dac Continue"
nnoremap <leader>dac :action Resume<CR>
vnoremap <leader>dac <Esc>:action Resume<CR>

let g:WhichKeyDesc_Debug_Actions_StepOver = "<leader>dan Step Over"
nnoremap <leader>dan :action StepOver<CR>
vnoremap <leader>dan <Esc>:action StepOver<CR>

let g:WhichKeyDesc_Debug_Actions_StepInto = "<leader>dai Step Into"
nnoremap <leader>dai :action StepInto<CR>
vnoremap <leader>dai <Esc>:action StepInto<CR>

let g:WhichKeyDesc_Debug_Actions_StepOut = "<leader>dao Step Out"
nnoremap <leader>dao :action StepOut<CR>
vnoremap <leader>dao <Esc>:action StepOut<CR>

""" <leader>da MAPPINGS -> Debug Breakpoints
let g:WhichKeyDesc_Debug_Breakpoints = "<leader>da +breakpoints"

let g:WhichKeyDesc_Debug_Breakpoints_ToggleBreakpoint = "<leader>db Toggle Breakpoint"
nnoremap <leader>db :action ToggleLineBreakpoint<CR>
vnoremap <leader>db <Esc>:action ToggleLineBreakpoint<CR>

let g:WhichKeyDesc_Debug_Breakpoints_ClearAllBreakpoints = "<leader>dC Clear All Breakpoints"
nnoremap <leader>dC :action Debugger.RemoveAllBreakpointsInFile<CR>
vnoremap <leader>dC <Esc>:action Debugger.RemoveAllBreakpointsInFile<CR>

""" <leader>da MAPPINGS -> Debug Find
let g:WhichKeyDesc_Debug_Find = "<leader>df +find"

let g:WhichKeyDesc_Debug_Find_ViewBreakpoints = "<leader>dfb View Breakpoints"
nnoremap <leader>dfb :action ViewBreakpoints<CR>
vnoremap <leader>dfb <Esc>:action ViewBreakpoints<CR>

let g:WhichKeyDesc_Debug_Find_SelectDebugConfiguration = "<leader>dfC Select Configuration and Debug"
nnoremap <leader>dfC :action ChooseDebugConfiguration<CR>
vnoremap <leader>dfC <Esc>:action ChooseDebugConfiguration<CR>

""" <leader>da MAPPINGS -> Debug Find
let g:WhichKeyDesc_Debug_Run = "<leader>dr +run"

let g:WhichKeyDesc_Debug_Run_Run = "<leader>drr Run Current Configuration"
nnoremap <leader>drr :action Run<CR>
vnoremap <leader>drr :action Run<CR>

let g:WhichKeyDesc_Debug_Run_Anything = "<leader>dra Run Anything"
nnoremap <leader>dra :action RunAnything<CR>
vnoremap <leader>dra :action RunAnything<CR>

let g:WhichKeyDesc_Debug_Run_Class = "<leader>drc Run Under Cursor"
nnoremap <leader>drc :action RunClass<CR>
vnoremap <leader>drc :action RunClass<CR>

let g:WhichKeyDesc_Debug_Run_Kill = "<leader>drk Stop application"
nnoremap <leader>drk :action Stop<CR>
vnoremap <leader>drk :action Stop<CR>

let g:WhichKeyDesc_Debug_Run_RerunTests = "<leader>drt Re-Run Tests"
nnoremap <leader>drt :action RerunTests<CR>
vnoremap <leader>drt <Esc>:action RerunTests<CR>

let g:WhichKeyDesc_Debug_Run_SelectRunConfiguration = "<leader>drs Select Configuration and Run"
nnoremap <leader>drs :action ChooseRunConfiguration<CR>
vnoremap <leader>drs :action ChooseRunConfiguration<CR>


""" <leader>f MAPPINGS -> Find
let g:WhichKeyDesc_Find = "<leader>f +find"

let g:WhichKeyDesc_Find_SearchEverywhere = "<leader>fa Find Anything"
nnoremap <leader>fa :action SearchEverywhere<CR>
vnoremap <leader>fa :action SearchEverywhere<CR>

let g:WhichKeyDesc_Find_DescribeKeyBindings = "<leader>fb Describe Bindings"
nnoremap <leader>fb    :map<CR>
vnoremap <leader>fb    <Esc>:map<CR>

let g:WhichKeyDesc_Find_GotoFile = "<leader>ff Find Files"
nnoremap <leader>ff :action GotoFile<CR>
vnoremap <leader>ff :action GotoFile<CR>

let g:WhichKeyDesc_Find_FilesRecent = "<leader>fF Recent Files"
nnoremap <leader>fF :action RecentFiles<CR>
vnoremap <leader>fF :action RecentFiles<CR>

let g:WhichKeyDesc_Find_SearchProject = "<leader>fg Find Text in Project"
nnoremap <leader>fg :action FindInPath<CR>
vnoremap <leader>fg :action FindInPath<CR>

let g:WhichKeyDesc_Find_FindInFile = "<leader>fs Search in Current File Using Intellij Search"
nnoremap <leader>fs :action Find<CR>
vnoremap <leader>fs :action Find<CR>

let g:WhichKeyDesc_Find_HighlightUsages = "<leader>fh Highlight Current Symbol"
nnoremap <leader>fh :action HighlightUsagesInFile<CR>
vnoremap <leader>fh <Esc>:action HighlightUsagesInFile<CR>

let g:WhichKeyDesc_Find_GotoAction = "<leader>fc View Command Menu"
nnoremap <leader>fc :action GotoAction<CR>
vnoremap <leader>fc :action GotoAction<CR>

let g:WhichKeyDesc_Find_ShowActionList = "<leader>fC Show Action List"
nnoremap <leader>fC    :actionlist<CR>
vnoremap <leader>fC    <Esc>:actionlist<CR>

let g:WhichKeyDesc_Find_ShowActionListSpecific = "<leader>fA Search Action List"
nnoremap <leader>fA    :actionlist
vnoremap <leader>fA    <Esc>:actionlist

let g:WhichKeyDesc_Find_ShowKeyBindings = "<leader>fk Show Key Bindings"
nnoremap <leader>fk     :map<CR>
vnoremap <leader>fk     <Esc>:map<CR>


""" <leader>r MAPPINGS -> Refactor
let g:WhichKeyDesc_Refactor = "<leader>r +refactor"

let g:WhichKeyDesc_Refactor_CreateConstructor = "<leader>rc Create Constructor"
nnoremap <leader>rc :action GenerateConstructor<CR>
vnoremap <leader>rc <Esc>:action GenerateConstructor<CR>

let g:WhichKeyDesc_Refactor_CodeCleanup = "<leader>rC Clean Code Up"
nnoremap <leader>rC :action CodeCleanup<CR>
vnoremap <leader>rC :action CodeCleanup<CR>

let g:WhichKeyDesc_Files_Rename = "<leader>rf Rename File"
nnoremap <leader>rf :action RenameFile<CR>
vnoremap <leader>rf :action RenameFile<CR>

let g:WhichKeyDesc_Refactor_InheritanceHierarchy = "<leader>rh Inheritance Hierarchy"
nnoremap <leader>rh :action TypeHierarchy<CR>
vnoremap <leader>rh <Esc>:action TypeHierarchy<CR>

let g:WhichKeyDesc_Refactor_QuickListPopupAction = "<leader>rt Refactor This"
nnoremap <leader>rt :action Refactorings.QuickListPopupAction<CR>
vnoremap <leader>rt <Esc>:action Refactorings.QuickListPopupAction<CR>

let g:WhichKeyDesc_Refactor_RunInspectionByName = "<leader>rr Inspection by Name"
nnoremap <leader>rr :action RunInspection<CR>
vnoremap <leader>rr <Esc>:action RunInspection<CR>

let g:WhichKeyDesc_Refactor_Generate = "<leader>rg Generate"
nnoremap <leader>rg :action Generate<CR>
vnoremap <leader>rg <Esc>:action Generate<CR>

let g:WhichKeyDesc_Refactor_ImplementMethods = "<leader>ri Implement Methods"
nnoremap <leader>ri :action ImplementMethods<CR>
vnoremap <leader>ri <Esc>:action ImplementMethods<CR>

let g:WhichKeyDesc_Refactor_InspectCode = "<leader>rI Inspect Code"
nnoremap <leader>rI :action InspectCode<CR>
vnoremap <leader>rI :action InspectCode<CR>

let g:WhichKeyDesc_Refactor_OptimizeImports = "<leader>ro Organize Imports"
nnoremap <leader>ro :action OptimizeImports<CR>
vnoremap <leader>ro <Esc>:action OptimizeImports<CR>

let g:WhichKeyDesc_Refactor_NewElement = "<leader>rn Create a New Element"
nnoremap <leader>rn :action NewElement<CR>
vnoremap <leader>rn :action NewElement<CR>

""" <leader>rr MAPPINGS -> Refactor Replace
let g:WhichKeyDesc_Refactor_Replace = "<leader>rr +replace"

let g:WhichKeyDesc_Refactor_Replace_ReplaceInFile = "<leader>rrf Replace in Document"
nnoremap <leader>rrf :action Replace<CR>
vnoremap <leader>rrf :action Replace<CR>

let g:WhichKeyDesc_Refactor_Replace_ReplaceInFiles = "<leader>rrp Replace in Project"
nnoremap <leader>rrp :action ReplaceInPath<CR>
vnoremap <leader>rrp :action ReplaceInPath<CR>


""" <leader>g MAPPINGS -> Git
let g:WhichKeyDesc_Git = "<leader>g +git"

let g:WhichKeyDesc_Git_Clone = "<leader>gc Clone"
nnoremap <leader>gc    :action Git.Clone<CR>
vnoremap <leader>gc    :action Git.Clone<CR>

let g:WhichKeyDesc_Git_Init = "<leader>gi Init"
nnoremap <leader>gi    :action Git.Init<CR>
vnoremap <leader>gi    :action Git.Init<CR>

let g:WhichKeyDesc_Git_Status = "<leader>gs Show Local Changes"
nnoremap <leader>gs    :action Vcs.Show.Local.Changes<CR>
vnoremap <leader>gs    :action Vcs.Show.Local.Changes<CR>

let g:WhichKeyDesc_Git_Shelf = "<leader>gS Show Stash"
nnoremap <leader>gS    :action Vcs.Show.Shelf<CR>
vnoremap <leader>gS    :action Vcs.Show.Shelf<CR>

let g:WhichKeyDesc_Git_Branches = "<leader>gb Branches"
nnoremap <leader>gb    :action Git.Branches<CR>
vnoremap <leader>gb    :action Git.Branches<CR>

let g:WhichKeyDesc_Git_ShowWindow = "<leader>gG Show Version Control Tool Window"
nnoremap <leader>gG    :action ActivateVersionControlToolWindow<CR>
vnoremap <leader>gG    :action ActivateVersionControlToolWindow<CR>

let g:WhichKeyDesc_Git_Vcs_Log = "<leader>gl Show Log"
nnoremap <leader>gl    :action Vcs.Show.Log<CR>
vnoremap <leader>gl    :action Vcs.Show.Log<CR>

let g:WhichKeyDesc_Git_File_Log = "<leader>gL Show Log of Current File"
nnoremap <leader>gL    :action Vcs.ShowTabbedFileHistory<CR>
vnoremap <leader>gL    :action Vcs.ShowTabbedFileHistory<CR>

let g:WhichKeyDesc_Git_SelectOperation = "<leader>gg Git Operations"
nnoremap <leader>gg    :action Vcs.QuickListPopupAction<CR>
vnoremap <leader>gg    :action Vcs.QuickListPopupAction<CR>

let g:WhichKeyDesc_Git_Push = "<leader>gp Push"
nnoremap <leader>gp    :action Vcs.Push<cr>
vnoremap <leader>gp    :action Vcs.Push<cr>

let g:WhichKeyDesc_Git_Vcs_Pull = "<leader>gu Pull/Update"
nnoremap <leader>gu    :action Vcs.UpdateProject<CR>
vnoremap <leader>gu    :action Vcs.UpdateProject<CR>


""" <leader>h MAPPINGS -> Hunks
let g:WhichKeyDesc_Hunks = "<leader>h +hunks"


let g:WhichKeyDesc_Hunks_GitReset = "<leader>hr Reset Hunk"
nnoremap <leader>hr :action Git.Reset<CR>
vnoremap <leader>hr :action Git.Reset<CR>


""" <leader>H MAPPINGS -> Help
let g:WhichKeyDesc_Help = "<leader>H +help"


let g:WhichKeyDesc_Help_InspectionSettings = "<leader>Hi Open Inspection Settings"
nnoremap <leader>Hi :action PopupHector<CR>
vnoremap <leader>Hi :action PopupHector<CR>

let g:WhichKeyDesc_Help_PluginDevelopment = "<leader>Hp JetBrains Plugins Repository"
nnoremap <leader>Hp    :action WelcomeScreen.DevelopPlugins<CR>
vnoremap <leader>Hp    :action WelcomeScreen.DevelopPlugins<CR>

let g:WhichKeyDesc_Help_ContextualHelpAlt = "<leader>H<Space> Visit Intellij Documentation Website"
nnoremap <leader>H<Space>    :action ContextHelp<CR>
vnoremap <leader>H<Space>    :action ContextHelp<CR>

let g:WhichKeyDesc_Help_Settings = "<leader>Hs Show Settings"
nnoremap <leader>Hs    :action ShowSettings<CR>
vnoremap <leader>Hs    <Esc>:action ShowSettings<CR>

let g:WhichKeyDesc_Help_ReloadIdeaVimRc = "<leader>HR Reload .ideavimrc"
nnoremap <leader>HR    :source ~/.ideavimrc<CR>
vnoremap <leader>HR    <Esc>:source ~/.ideavimrc<CR>


""" <leader>w MAPPINGS -> Workspaces
let g:WhichKeyDesc_Workspaces = "<leader>w +workspaces"


let g:WhichKeyDesc_Workspaces_NextProjectWindow = "<leader>wn Focus Next Project"
nnoremap <leader>wn :action NextProjectWindow<CR>
vnoremap <leader>wn :action NextProjectWindow<CR>

let g:WhichKeyDesc_Workspaces_PreviousProjectWindow = "<leader>wp Focus Previous Project"
nnoremap <leader>wp :action PreviousProjectWindow<CR>
vnoremap <leader>wp :action PreviousProjectWindow<CR>

let g:WhichKeyDesc_Workspaces_InvalidateCaches = "<leader>wi Invalidate Cache"
nnoremap <leader>wi :action InvalidateCaches<CR>
vnoremap <leader>wi :action InvalidateCaches<CR>

let g:WhichKeyDesc_Workspaces_RecentProjects = "<leader>wr Recent Projects"
nnoremap <leader>wr :action ManageRecentProjects<CR>
vnoremap <leader>wr :action ManageRecentProjects<CR>

let g:WhichKeyDesc_Workspaces_NewProject = "<leader>wA Create New Project"
nnoremap <leader>wA :action NewProject<CR>
vnoremap <leader>wA :action NewProject<CR>

let g:WhichKeyDesc_Workspaces_ImportProject = "<leader>wI Import Project from Existing Files"
nnoremap <leader>wI :action ImportProject<CR>
vnoremap <leader>wI :action ImportProject<CR>

let g:WhichKeyDesc_Workspaces_ProjectFromVersionControl = "<leader>wG New Project From VCS"
nnoremap <leader>wG :action ProjectFromVersionControl<CR>
vnoremap <leader>wG :action ProjectFromVersionControlCR>

let g:WhichKeyDesc_Workspaces_CloseOtherProjects = "<leader>wO Close All Other Projects"
nnoremap <leader>wO :action CloseOtherProjects<CR>
vnoremap <leader>wO :action CloseOtherProjects<CR>

let g:WhichKeyDesc_Workspaces_CloseProject = "<leader>wq Close This Project"
nnoremap <leader>wq :action CloseProject<CR>
vnoremap <leader>wq :action CloseProject>

let g:WhichKeyDesc_Workspaces_CloseAllProjects = "<leader>wQ Close All Projects"
nnoremap <leader>wQ :action CloseAllProjects<CR>
vnoremap <leader>wQ :action CloseAllProjects<CR>

let g:WhichKeyDesc_Workspaces_Exit = "<leader>wE Exit"
nnoremap <leader>wE :action Exit<CR>
vnoremap <leader>wE <Esc>:action Exit<CR>

let g:WhichKeyDesc_Workspaces_RestartIde = "<leader>wR Restart"
nnoremap <leader>wR :action RestartIde<CR>
vnoremap <leader>wR <Esc>:action RestartIde<CR>


""" <leader>t MAPPINGS -> Toggle
let g:WhichKeyDesc_Toggles = "<leader>t +toggle"


let g:WhichKeyDesc_Toggles_Vcs_Annotate = "<leader>tb Toggle Blame"
nnoremap <leader>tb    :action Annotate<CR>
vnoremap <leader>tb    :action Annotate<CR>

let g:WhichKeyDesc_Toggles_IndentLines = "<leader>ti Toggle Show Indent Guide"
nnoremap <leader>ti :action EditorToggleShowIndentLines<CR>
vnoremap <leader>ti <Esc>:action EditorToggleShowIndentLines<CR>

let g:WhichKeyDesc_Toggles_SoftWraps = "<leader>tl Toggle Truncate Lines"
nnoremap <leader>tl :action EditorToggleUseSoftWraps<CR>
vnoremap <leader>tl :action EditorToggleUseSoftWraps<CR>

let g:WhichKeyDesc_Toggles_LineNumbers = "<leader>tn Toggle Line Numbers"
nnoremap <leader>tn :action EditorToggleShowLineNumbers<CR>
vnoremap <leader>tn :action EditorToggleShowLineNumbers<CR>

let g:WhichKeyDesc_Toggles_RelativeLineNumbers = "<leader>tr Toggle Relative Line Numbers"
nnoremap <leader>tr :set relativenumber!<CR>
vnoremap <leader>tr <Esc>:set relativenumber!<CR>

let g:WhichKeyDesc_Toggles_ShowWhitespace = "<leader>tw Toggle Show Whitespaces"
nnoremap <leader>tw :action EditorToggleShowWhitespaces<CR>
vnoremap <leader>tw :action EditorToggleShowWhitespaces<CR>

let g:WhichKeyDesc_Toggles_GutterIcons = "<leader>tg Toggle Gutter Icons"
nnoremap <leader>tg :action EditorToggleShowGutterIcons<CR>
vnoremap <leader>tg :action EditorToggleShowGutterIcons<CR>

let g:WhichKeyDesc_Toggles_PowerSave = "<leader>tp Toggle Power Save"
nnoremap <leader>tp :action TogglePowerSave<CR>
vnoremap <leader>tp :action TogglePowerSave<CR>

let g:WhichKeyDesc_Toggles_EnableCopilot = "<leader>tc Enable Copilot"
nnoremap <leader>tc :action copilot.enableCopilot<CR>
vnoremap <leader>tc :action copilot.enableCopilot<CR>

let g:WhichKeyDesc_Toggles_DisableCopilot = "<leader>tC Disable Copilot"
nnoremap <leader>tC :action copilot.disableCopilot<CR>
vnoremap <leader>tC :action copilot.disableCopilot<CR>


""" <leader>z MAPPINGS -> Zoom
let g:WhichKeyDesc_Zoom = "<leader>z +zoom"


let g:WhichKeyDesc_Zoom_IncreaseAlt = "<leader>z= Increase Font Size"
nnoremap <leader>z= :action EditorIncreaseFontSize<CR>
vnoremap <leader>z= :action EditorIncreaseFontSize<CR>

let g:WhichKeyDesc_Zoom_Decrease = "<leader>z- Decrease Font Size"
nnoremap <leader>z- :action EditorDecreaseFontSize<CR>
vnoremap <leader>z- :action EditorDecreaseFontSize<CR>

let g:WhichKeyDesc_Zoom_Reset = "<leader>z0 Reset Font Size"
nnoremap <leader>z0 :action EditorResetFontSize<CR>
vnoremap <leader>z0 :action EditorResetFontSize<CR>

