" -> https://github.com/JetBrains/ideavim/wiki
""""" OPTIONS

" <SPC> as the leader key
let mapleader = " "

" Show Current Vim Mode
set showmode

" Use the Clipboard Register '*' for All Yank, Delete, Change and Put Operations
" (-> which would normally go to the unnamed register)
set clipboard+=unnamed

" Search as Characters are Entered
set incsearch

" Highlight Search Results
set hlsearch

" Case-sensitive Search Only on Present Upper Letters
set ignorecase
set smartcase

" Relative Numbers Only Club
set relativenumber

""""" PLUGINS & RELATED SETTINGS

"" PLUGIN
" Enable which-key extension
set which-key

" Disable which-key timeout, i.e. show the menu until you press a key
set notimeout

" Show the menu also for default Vim actions like `gg` or `zz`.
let g:WhichKey_ShowVimActions = "false"

"" PLUGIN
" Vim Movement in the Project View
" -> https://github.com/JetBrains/ideavim/wiki/NERDTree-support
set NERDTree

"" PLUGIN
" Emulate vim-surround. Commands: ys, cs, ds
" -> https://github.com/tpope/vim-surround/blob/master/doc/surround.txt
set surround

let g:WhichKeyDesc_SurroundAdd = "ys +add-surround"
let g:WhichKeyDesc_SurroundChange = "cs +change-surround"
let g:WhichKeyDesc_SurroundDelete = "ds +delete-surround"

"" PLUGIN
" Add text object for entire buffer: ae (around buffer), ie (inside buffer)
set textobj-entire

" Add text object for arguments: aA (around arguments), iA (inside arguments)
set argtextobj

""""" MAPPINGS
""" FIRST-LEVEL MAPPINGS
""" NORMAL

" Hungry Backspace
nnoremap <C-BS> :action EditorHungryBackSpace<CR>

" Remove Highlights on <ESC>
nnoremap <ESC> :noh<CR>

" Easier Window Navigation
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" x and X Copy Into Throwaway Register `_`
nnoremap x \"_x
nnoremap X \"_X

" Get Minimal Parameter Info
nnoremap <C-S-k> :action ParameterInfo<CR>

" Show Paste Ring
nnoremap "" :action PasteMultiple<CR>

""" VISUAL

" Show Paste Ring
vnoremap "" :action PasteMultiple<CR>

""" INSERT

" Hungry Backspace
inoremap <C-BS> <Esc>:action EditorHungryBackSpace<CR>i

" Get Minimal Parameter Info
inoremap <C-S-k> :action ParameterInfo<CR>

""" g MAPPINGS

let g:WhichKeyDesc_GoTo_CommentByLineComment = "gc Comment by Line Comment"
nnoremap gc :action CommentByLineComment<CR>
vnoremap gc :action CommentByLineComment<CR>

let g:WhichKeyDesc_GoTo_CommentByBlockComment = "gb Comment by Block Comment"
nnoremap gb :action CommentByBlockComment<CR>
vnoremap gb :action CommentByBlockComment<CR>

let g:WhichKeyDesc_GoTo_JumpToClass = "gC Go to Class"
nnoremap gC :action GotoClass<CR>
vnoremap gC :action GotoClass<CR>

let g:WhichKeyDesc_GoTo_Locations = "gl Go to Recent Location"
nnoremap gl :action RecentLocations<CR>
vnoremap gl :action RecentLocations<CR>

let g:WhichKeyDesc_GoTo_RecentChanges = "gL Go to Recent Changed Locations"
nnoremap gL   :action RecentChanges<CR>
vnoremap gL   :action RecentChanges<CR>

let g:WhichKeyDesc_GoTo_QuickImplementations = "gI Go to Implementation"
nnoremap gi :action QuickImplementations<CR>
vnoremap gi <Esc>:action QuickImplementations<CR>

let g:WhichKeyDesc_GoTo_CallHierarchy = "gi Go to Incoming Calls"
nnoremap gI :action CallHierarchy<CR>
vnoremap gI <Esc>:action CallHierarchy<CR>

let g:WhichKeyDesc_GoTo_FindUsages = "gr Go to References"
nnoremap gR :action FindUsages<CR>
vnoremap gR :action FindUsages<CR>

let g:WhichKeyDesc_GoTo_FileStructurePopup = "gs Go to Buffer Symbol"
nnoremap gs :action FileStructurePopup<CR>
vnoremap gs :action FileStructurePopup<CR>

let g:WhichKeyDesc_GoTo_GotoSymbol = "gS Go to Symbol in Project"
nnoremap gS :action GotoSymbol<CR>
vnoremap gS :action GotoSymbol<CR>

let g:WhichKeyDesc_GoTo_GotoTest = "gT Go to Test/Implementation"
nnoremap gT :action GotoTest<CR>
vnoremap gT :action GotoTest<CR>

let g:WhichKeyDesc_GoTo_GotoTypeDeclaration = "gt Go to Type Declaration for Symbol"
nnoremap gt :action GotoTypeDeclaration<CR>
vnoremap gt <Esc>:action GotoTypeDeclaration<CR>

let g:WhichKeyDesc_GoTo_CodeBlockStart = "g[ Go to Code Block Start"
nnoremap g[ :action EditorCodeBlockStart<CR>
vnoremap g[ <Esc>:action EditorCodeBlockStart<CR>

let g:WhichKeyDesc_GoTo_CodeBlockEnd = "g] Go to Code Block End"
nnoremap g] :action EditorCodeBlockEnd<CR>
vnoremap g] <Esc>:action EditorCodeBlockEnd<CR>

""" [ and ] MAPPINGS

let g:WhichKeyDesc_LeftSquareBracket_GotoPreviousError = "[d Prev Diagnostic"
nnoremap [d :action GotoPreviousError<CR>
vnoremap [d :action <ESC>GotoPreviousError<CR>

let g:WhichKeyDesc_RightSquareBracket_GotoPreviousError = "]d Next Diagnostic"
nnoremap ]d :action GotoNextError<CR>
vnoremap ]d :action <ESC>GotoNextError<CR>

let g:WhichKeyDesc_LeftSquareBracket_VcsShowPrevChangeMarker = "[h Prev Hunk/Change"
nnoremap [h :action VcsShowPrevChangeMarker<CR>
vnoremap [h :action <ESC>VcsShowPrevChangeMarker<CR>

let g:WhichKeyDesc_RightSquareBracket_VcsShowNextChangeMarker = "]h Next Hunk/Change"
nnoremap ]h :action VcsShowNextChangeMarker<CR>
vnoremap ]h :action <ESC>VcsShowNextChangeMarker<CR>

""" <leader> MAPPINGS

let g:WhichKeyDesc_Leader_ReformatCode = "<leader>= Reformat Code"
nnoremap <leader>= :action ReformatCode<CR>
vnoremap <leader>= :action ReformatCode<CR>

let g:WhichKeyDesc_Bookmarks_Toggle = "<leader>a Add to Marks"
nnoremap <leader>a :action ToggleBookmark<CR>
vnoremap <leader>a :action ToggleBookmark<CR>

let g:WhichKeyDesc_Bookmarks_List = "<leader>b Show Marks"
nnoremap <leader>b :action ShowBookmarks<CR>
vnoremap <leader>b :action ShowBookmarks<CR>

let g:WhichKeyDesc_Leader_GotoAction = "<leader>c View Command Menu"
nnoremap <leader>c :action GotoAction<CR>
vnoremap <leader>c :action GotoAction<CR>

let g:WhichKeyDesc_Leader_ActivateProjectToolWindow = "<leader>e Open Explorer"
nnoremap <leader>e :action ActivateProjectToolWindow<CR>
vnoremap <leader>e :action ActivateProjectToolWindow<CR>

let g:WhichKeyDesc_Leader_SelectInProjectView = "<leader>E Open Explorer & Select Current File"
nnoremap <leader>E :action SelectInProjectView<CR>
vnoremap <leader>E :action SelectInProjectView<CR>

let g:WhichKeyDesc_Leader_RenameElement = "<leader>n Rename Symbol"
nnoremap <leader>n :action RenameElement<CR>
vnoremap <leader>n :action RenameElement<CR>

let g:WhichKeyDesc_Leader_ShowIntentionActions = "<leader>q Quick Fix/Contextual Actions"
nnoremap <leader>q :action ShowIntentionActions<CR>
vnoremap <leader>q :action ShowIntentionActions<CR>

let g:WhichKeyDesc_Leader_ActivateProblemsViewToolWindow = "<leader>Q Show Diagnostics Tool Window"
nnoremap <leader>Q :action ActivateProblemsViewToolWindow<CR>
vnoremap <leader>Q :action ActivateProblemsViewToolWindow<CR>

let g:WhichKeyDesc_Leader_ShowErrorDescription = "<leader>x Explain Error"
nnoremap <leader>x :action ShowErrorDescription<CR>
vnoremap <leader>x :action ShowErrorDescription<CR>


""" <leader>d MAPPINGS -> Debug
let g:WhichKeyDesc_Debug = "<leader>d +debug"


let g:WhichKeyDesc_Debug_ToggleBreakpoint = "<leader>db Toggle Breakpoint"
nnoremap <leader>db :action ToggleLineBreakpoint<CR>
vnoremap <leader>db <Esc>:action ToggleLineBreakpoint<CR>

let g:WhichKeyDesc_Debug_ViewBreakpoints = "<leader>dB View Breakpoints"
nnoremap <leader>dB :action ViewBreakpoints<CR>
vnoremap <leader>dB <Esc>:action ViewBreakpoints<CR>

let g:WhichKeyDesc_Debug_Continue = "<leader>dc Continue (Go to Next Breakpoint)"
nnoremap <leader>dc :action Resume<CR>
vnoremap <leader>dc <Esc>:action Resume<CR>

let g:WhichKeyDesc_Debug_ClearAllBreakpoints = "<leader>dC Clear All Breakpoints"
nnoremap <leader>dC :action Debugger.RemoveAllBreakpointsInFile<CR>
vnoremap <leader>dC <Esc>:action Debugger.RemoveAllBreakpointsInFile<CR>

let g:WhichKeyDesc_Debug_Debug = "<leader>dd Debug"
nnoremap <leader>dd :action Debug<CR>
vnoremap <leader>dd <Esc>:action Debug<CR>

let g:WhichKeyDesc_Debug_DebugClass = "<leader>dD Debug Class"
nnoremap <leader>dD :action DebugClass<CR>
vnoremap <leader>dD <Esc>:action DebugClass<CR>

let g:WhichKeyDesc_Debug_StepOver = "<leader>dn Next (Step Over)"
nnoremap <leader>dn :action StepOver<CR>
vnoremap <leader>dn <Esc>:action StepOver<CR>

let g:WhichKeyDesc_Debug_StepOut = "<leader>do Step Out"
nnoremap <leader>do :action StepOut<CR>
vnoremap <leader>do <Esc>:action StepOut<CR>

let g:WhichKeyDesc_Debug_SelectDebugConfiguration = "<leader>dr Select Configuration and Debug"
nnoremap <leader>dr :action ChooseDebugConfiguration<CR>
vnoremap <leader>dr <Esc>:action ChooseDebugConfiguration<CR>

let g:WhichKeyDesc_Debug_StepInto = "<leader>di Step Into"
nnoremap <leader>di :action StepInto<CR>
vnoremap <leader>di <Esc>:action StepInto<CR>


""" <leader>f MAPPINGS -> Find
let g:WhichKeyDesc_FindReplace = "<leader>f +find"


let g:WhichKeyDesc_FindReplace_ClearHighlight = "<leader>fc Clear Search Highlights"
nnoremap <leader>fc :nohlsearch<CR>
vnoremap <leader>fc <Esc>:nohlsearch<CR>

let g:WhichKeyDesc_FindReplace_SearchEverywhere = "<leader>fa Find Anything"
nnoremap <leader>fa :action SearchEverywhere<CR>
vnoremap <leader>fa :action SearchEverywhere<CR>

let g:WhichKeyDesc_FindReplace_GotoFile = "<leader>ff Find Files"
nnoremap <leader>ff :action GotoFile<CR>
vnoremap <leader>ff :action GotoFile<CR>

let g:WhichKeyDesc_Files_Recent = "<leader>fF Recent Files"
nnoremap <leader>fF :action RecentFiles<CR>
vnoremap <leader>fF :action RecentFiles<CR>

let g:WhichKeyDesc_FindReplace_SearchProject = "<leader>fg Find Text in Project"
nnoremap <leader>fg :action FindInPath<CR>
vnoremap <leader>fg :action FindInPath<CR>

let g:WhichKeyDesc_FindReplace_FindInFile = "<leader>fs Search in Current File Using Intellij Search"
nnoremap <leader>fs :action Find<CR>
vnoremap <leader>fs :action Find<CR>

let g:WhichKeyDesc_FindReplace_HighlightUsages = "<leader>fh Highlight Current Symbol"
nnoremap <leader>fh :action HighlightUsagesInFile<CR>
vnoremap <leader>fh <Esc>:action HighlightUsagesInFile<CR>


""" <leader>f MAPPINGS -> Find/Replace
let g:WhichKeyDesc_FindReplace = "<leader>r +replace"


let g:WhichKeyDesc_FindReplace_ReplaceInFile = "<leader>rf Replace File"
nnoremap <leader>rf :action Replace<CR>
vnoremap <leader>rf :action Replace<CR>

let g:WhichKeyDesc_FindReplace_ReplaceInFiles = "<leader>rp Replace in Project"
nnoremap <leader>rp :action ReplaceInPath<CR>
vnoremap <leader>rp :action ReplaceInPath<CR>


""" <leader>F MAPPINGS -> Files
let g:WhichKeyDesc_Files = "<leader>F +files"


let g:WhichKeyDesc_Files_Rename = "<leader>FR Rename File"
nnoremap <leader>FR :action RenameFile<CR>
vnoremap <leader>FR :action RenameFile<CR>

let g:WhichKeyDesc_Files_YankCopy_FilePath = "<leader>Fy Copy File Path"
nnoremap <leader>Fy :action CopyAbsolutePath<CR>
vnoremap <leader>Fy :action CopyAbsolutePath<CR>

let g:WhichKeyDesc_Files_NewElement = "<leader>Fn Create a New Element"
nnoremap <leader>Fn :action NewElement<CR>
vnoremap <leader>Fn :action NewElement<CR>


""" <leader>g MAPPINGS -> Git
let g:WhichKeyDesc_Git = "<leader>g +git"


let g:WhichKeyDesc_Git_Clone = "<leader>gc Clone"
nnoremap <leader>gc    :action Git.Clone<CR>
vnoremap <leader>gc    :action Git.Clone<CR>

let g:WhichKeyDesc_Git_Init = "<leader>gi Init"
nnoremap <leader>gi    :action Git.Init<CR>
vnoremap <leader>gi    :action Git.Init<CR>

let g:WhichKeyDesc_Git_Status = "<leader>gs Show Local Changes"
nnoremap <leader>gs    :action Vcs.Show.Local.Changes<CR>
vnoremap <leader>gs    :action Vcs.Show.Local.Changes<CR>

let g:WhichKeyDesc_Git_Shelf = "<leader>gS Show shelf"
nnoremap <leader>gS    :action Vcs.Show.Shelf<CR>
vnoremap <leader>gS    :action Vcs.Show.Shelf<CR>

let g:WhichKeyDesc_Git_Branches = "<leader>gb Branches"
nnoremap <leader>gb    :action Git.Branches<CR>
vnoremap <leader>gb    :action Git.Branches<CR>

let g:WhichKeyDesc_Git_ShowWindow = "<leader>gG Show Version Control Tool Window"
nnoremap <leader>gG    :action ActivateVersionControlToolWindow<CR>
vnoremap <leader>gG    :action ActivateVersionControlToolWindow<CR>

let g:WhichKeyDesc_Git_Vcs_Log = "<leader>gl Show Log"
nnoremap <leader>gl    :action Vcs.Show.Log<CR>
vnoremap <leader>gl    :action Vcs.Show.Log<CR>

let g:WhichKeyDesc_Git_File_Log = "<leader>gL Show Log of Current File"
nnoremap <leader>gL    :action Vcs.ShowTabbedFileHistory<CR>
vnoremap <leader>gL    :action Vcs.ShowTabbedFileHistory<CR>

let g:WhichKeyDesc_Git_SelectOperation = "<leader>gg Select a VCS operation"
nnoremap <leader>gg    :action Vcs.QuickListPopupAction<CR>
vnoremap <leader>gg    :action Vcs.QuickListPopupAction<CR>

let g:WhichKeyDesc_Git_Push = "<leader>gp Push"
nnoremap <leader>gp    :action Vcs.Push<cr>
vnoremap <leader>gp    :action Vcs.Push<cr>

let g:WhichKeyDesc_Git_Vcs_Pull = "<leader>gP Update Project"
nnoremap <leader>gP    :action Vcs.UpdateProject<CR>
vnoremap <leader>gP    :action Vcs.UpdateProject<CR>


""" <leader>h MAPPINGS -> Hunks
let g:WhichKeyDesc_Hunks = "<leader>h +hunks"


let g:WhichKeyDesc_Help_InspectionSettings = "<leader>hr Reset Hunk"
nnoremap <leader>hr :action Git.Reset<CR>
vnoremap <leader>hr :action Git.Reset<CR>


""" <leader>H MAPPINGS -> Help
let g:WhichKeyDesc_Help = "<leader>h +help"


let g:WhichKeyDesc_Help_InspectionSettings = "<leader>Hi Open Inspection Settings"
nnoremap <leader>Hi :action PopupHector<CR>
vnoremap <leader>Hi :action PopupHector<CR>

let g:WhichKeyDesc_Help_ShowKeyBindings = "<leader>Hk Show Key Bindings"
nnoremap <leader>Hk     :map<CR>
vnoremap <leader>Hk     <Esc>:map<CR>

let g:WhichKeyDesc_Help_DescribeKeyBindings = "<leader>Hd Describe Bindings"
nnoremap <leader>Hd    :map<CR>
vnoremap <leader>Hd    <Esc>:map<CR>

let g:WhichKeyDesc_Help_PluginDevelopment = "<leader>Hp JetBrains Plugins Repository"
nnoremap <leader>Hp    :action WelcomeScreen.DevelopPlugins<CR>
vnoremap <leader>Hp    :action WelcomeScreen.DevelopPlugins<CR>

let g:WhichKeyDesc_Help_ContextualHelpAlt = "<leader>H<Space> Visit Intellij Documentation Website"
nnoremap <leader>H<Space>    :action ContextHelp<CR>
vnoremap <leader>H<Space>    :action ContextHelp<CR>

let g:WhichKeyDesc_Help_ShowActionList = "<leader>Ha Show Action List"
nnoremap <leader>Ha    :actionlist<CR>
vnoremap <leader>Ha    <Esc>:actionlist<CR>

let g:WhichKeyDesc_Help_Settings = "<leader>Hs Show Settings"
nnoremap <leader>Hs    :action ShowSettings<CR>
vnoremap <leader>Hs    <Esc>:action ShowSettings<CR>

let g:WhichKeyDesc_Help_ReloadIdeaVimRc = "<leader>HR Reload .ideavimrc"
nnoremap <leader>HR    :source ~/.ideavimrc<CR>
vnoremap <leader>HR    <Esc>:source ~/.ideavimrc<CR>

""" <leader>l MAPPINGS -> LSP
let g:WhichKeyDesc_Lsp = "<leader>l +lsp"

let g:WhichKeyDesc_Lsp_ListErrors = "<leader>le List Errors"
nnoremap <leader>le :action CodeInspection.OnEditor<CR>
vnoremap <leader>le :action CodeInspection.OnEditor<CR>

let g:WhichKeyDesc_Lsp_InheritanceHierarchy = "<leader>lH Inheritance Hierarchy"
nnoremap <leader>lH :action TypeHierarchy<CR>
vnoremap <leader>lH <Esc>:action TypeHierarchy<CR>

let g:WhichKeyDesc_Lsp_CreateConstructor = "<leader>lc Create Constructor"
nnoremap <leader>lc :action GenerateConstructor<CR>
vnoremap <leader>lc <Esc>:action GenerateConstructor<CR>

let g:WhichKeyDesc_Lsp_CodeCleanup = "<leader>lC Clean Code Up"
nnoremap <leader>lC :action CodeCleanup<CR>
vnoremap <leader>lC :action CodeCleanup<CR>

let g:WhichKeyDesc_Lsp_QuickListPopupAction = "<leader>ll Refactor This"
nnoremap <leader>ll :action Refactorings.QuickListPopupAction<CR>
vnoremap <leader>ll <Esc>:action Refactorings.QuickListPopupAction<CR>

let g:WhichKeyDesc_Lsp_RunInspectionByName = "<leader>lr Run Inspection by Name"
nnoremap <leader>lr :action RunInspection<CR>
vnoremap <leader>lr <Esc>:action RunInspection<CR>

let g:WhichKeyDesc_Lsp_Generate = "<leader>lg Generate"
nnoremap <leader>lg :action Generate<CR>
vnoremap <leader>lg <Esc>:action Generate<CR>

let g:WhichKeyDesc_Lsp_ImplementMethods = "<leader>li Implement Methods"
nnoremap <leader>li :action ImplementMethods<CR>
vnoremap <leader>li <Esc>:action ImplementMethods<CR>

let g:WhichKeyDesc_Lsp_InspectCode = "<leader>lI Inspect Code"
nnoremap <leader>lI :action InspectCode<CR>
vnoremap <leader>lI :action InspectCode<CR>

let g:WhichKeyDesc_Lsp_OptimizeImports = "<leader>lo Organize Imports"
nnoremap <leader>lo :action OptimizeImports<CR>
vnoremap <leader>lo <Esc>:action OptimizeImports<CR>

let g:WhichKeyDesc_Lsp_NewElement = "<leader>ln Create a New Element"
nnoremap <leader>ln :action NewElement<CR>
vnoremap <leader>ln :action NewElement<CR>


""" <leader>w MAPPINGS -> Workspaces
let g:WhichKeyDesc_Workspaces = "<leader>w +workspaces"


let g:WhichKeyDesc_Workspaces_NextProjectWindow = "<leader>wn Focus Next Project"
nnoremap <leader>wn :action NextProjectWindow<CR>
vnoremap <leader>wn :action NextProjectWindow<CR>

let g:WhichKeyDesc_Workspaces_PreviousProjectWindow = "<leader>wp Focus Previous Project"
nnoremap <leader>wp :action PreviousProjectWindow<CR>
vnoremap <leader>wp :action PreviousProjectWindow<CR>

let g:WhichKeyDesc_Workspaces_InvalidateCaches = "<leader>wi Invalidate Cache"
nnoremap <leader>wi :action InvalidateCaches<CR>
vnoremap <leader>wi :action InvalidateCaches<CR>

let g:WhichKeyDesc_Workspaces_RecentProjects = "<leader>wr Recent Projects"
nnoremap <leader>wr :action ManageRecentProjects<CR>
vnoremap <leader>wr :action ManageRecentProjects<CR>

let g:WhichKeyDesc_Workspaces_NewProject = "<leader>wA Create New Project"
nnoremap <leader>wA :action NewProject<CR>
vnoremap <leader>wA :action NewProject<CR>

let g:WhichKeyDesc_Workspaces_ImportProject = "<leader>wI Import Project from Existing Files"
nnoremap <leader>wI :action ImportProject<CR>
vnoremap <leader>wI :action ImportProject<CR>

let g:WhichKeyDesc_Workspaces_ProjectFromVersionControl = "<leader>wG New Project From VCS"
nnoremap <leader>wG :action ProjectFromVersionControl<CR>
vnoremap <leader>wG :action ProjectFromVersionControlCR>

let g:WhichKeyDesc_Workspaces_CloseOtherProjects = "<leader>wO Close All Other Projects"
nnoremap <leader>wO :action CloseOtherProjects<CR>
vnoremap <leader>wO :action CloseOtherProjects<CR>

let g:WhichKeyDesc_Workspaces_CloseProject = "<leader>wq Close This Project"
nnoremap <leader>wq :action CloseProject<CR>
vnoremap <leader>wq :action CloseProject>

let g:WhichKeyDesc_Workspaces_CloseAllProjects = "<leader>wQ Close All Projects"
nnoremap <leader>wQ :action CloseAllProjects<CR>
vnoremap <leader>wQ :action CloseAllProjects<CR>

let g:WhichKeyDesc_Workspaces_Exit = "<leader>wE Exit"
nnoremap <leader>wE :action Exit<CR>
vnoremap <leader>wE <Esc>:action Exit<CR>

let g:WhichKeyDesc_Workspaces_RestartIde = "<leader>wR Restart"
nnoremap <leader>wR :action RestartIde<CR>
vnoremap <leader>wR <Esc>:action RestartIde<CR>


""" <leader>r MAPPINGS -> Run
let g:WhichKeyDesc_Run = "<leader>r +run"


let g:WhichKeyDesc_Run_Run = "<leader>rr Run Current Configuration"
nnoremap <leader>rr :action Run<CR>
vnoremap <leader>rr :action Run<CR>

let g:WhichKeyDesc_Run_Anything = "<leader>ra Run Anything"
nnoremap <leader>ra :action RunAnything<CR>
vnoremap <leader>ra :action RunAnything<CR>

let g:WhichKeyDesc_Run_Class = "<leader>rc Run Class (Under Cursor)"
nnoremap <leader>rc :action RunClass<CR>
vnoremap <leader>rc :action RunClass<CR>

let g:WhichKeyDesc_Run_Kill = "<leader>rk Kill (Stop application)"
nnoremap <leader>rk :action Stop<CR>
vnoremap <leader>rk :action Stop<CR>

let g:WhichKeyDesc_Run_RerunTests = "<leader>rt Re-Run Tests"
nnoremap <leader>rt :action RerunTests<CR>
vnoremap <leader>rt <Esc>:action RerunTests<CR>

let g:WhichKeyDesc_Run_SelectRunConfiguration = "<leader>rs Select Configuration and Run"
nnoremap <leader>rs :action ChooseRunConfiguration<CR>
vnoremap <leader>rs :action ChooseRunConfiguration<CR>


""" <leader>t MAPPINGS -> Toggle
let g:WhichKeyDesc_Toggles = "<leader>t +toggle"


let g:WhichKeyDesc_Toggles_Vcs_Annotate = "<leader>tb Toggle Blame"
nnoremap <leader>tb    :action Annotate<CR>
vnoremap <leader>tb    :action Annotate<CR>

let g:WhichKeyDesc_Toggles_IndentLines = "<leader>ti Toggle Show Indent Guide"
nnoremap <leader>ti :action EditorToggleShowIndentLines<CR>
vnoremap <leader>ti <Esc>:action EditorToggleShowIndentLines<CR>

let g:WhichKeyDesc_Toggles_SoftWraps = "<leader>tl Toggle Truncate Lines"
nnoremap <leader>tl :action EditorToggleUseSoftWraps<CR>
vnoremap <leader>tl :action EditorToggleUseSoftWraps<CR>

let g:WhichKeyDesc_Toggles_LineNumbers = "<leader>tn Toggle Line Numbers"
nnoremap <leader>tn :action EditorToggleShowLineNumbers<CR>
vnoremap <leader>tn :action EditorToggleShowLineNumbers<CR>

let g:WhichKeyDesc_Toggles_RelativeLineNumbers = "<leader>tr Toggle Relative Line Numbers"
nnoremap <leader>tr :set relativenumber!<CR>
vnoremap <leader>tr <Esc>:set relativenumber!<CR>

let g:WhichKeyDesc_Toggles_ShowWhitespace = "<leader>tw Toggle Show Whitespaces"
nnoremap <leader>tw :action EditorToggleShowWhitespaces<CR>
vnoremap <leader>tw :action EditorToggleShowWhitespaces<CR>

let g:WhichKeyDesc_Toggles_GutterIcons = "<leader>tg Toggle Gutter Icons"
nnoremap <leader>tg :action EditorToggleShowGutterIcons<CR>
vnoremap <leader>tg :action EditorToggleShowGutterIcons<CR>

let g:WhichKeyDesc_Toggles_PowerSave = "<leader>tp Toggle Power Save"
nnoremap <leader>tp :action TogglePowerSave<CR>
vnoremap <leader>tp :action TogglePowerSave<CR>

let g:WhichKeyDesc_Toggles_EnableCopilot = "<leader>tc Enable Copilot"
nnoremap <leader>tc :action copilot.enableCopilot<CR>
vnoremap <leader>tc :action copilot.enableCopilot<CR>

let g:WhichKeyDesc_Toggles_DisableCopilot = "<leader>tC Disable Copilot"
nnoremap <leader>tC :action copilot.disableCopilot<CR>
vnoremap <leader>tC :action copilot.disableCopilot<CR>


""" <leader>z MAPPINGS -> Zoom
let g:WhichKeyDesc_Zoom = "<leader>z +zoom"


let g:WhichKeyDesc_Zoom_IncreaseAlt = "<leader>z= Increase Font Size"
nnoremap <leader>z= :action EditorIncreaseFontSize<CR>
vnoremap <leader>z= :action EditorIncreaseFontSize<CR>

let g:WhichKeyDesc_Zoom_Decrease = "<leader>z- Decrease Font Size"
nnoremap <leader>z- :action EditorDecreaseFontSize<CR>
vnoremap <leader>z- :action EditorDecreaseFontSize<CR>

let g:WhichKeyDesc_Zoom_Reset = "<leader>z0 Reset Font Size"
nnoremap <leader>z0 :action EditorResetFontSize<CR>
vnoremap <leader>z0 :action EditorResetFontSize<CR>

